@font-face {
    font-family: 'Asylbek';
    src: url('./fonts/AsylbekM02Shelley.kz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Champion';
    src: url('./fonts/ChampionScriptPro.ttf') format('truetype');
}
@font-face {
    font-family: "KZ Balmoral";
    src: url("./fonts/KZ\ Balmoral\ \(1\).ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "KZGoodVibes";
    src: url("./fonts/KZGoodVibes\ \(1\).ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "KZ Ariston";
    src: url("./fonts/KZ_Ariston\ \(1\).ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
}

body{
    background:#ffffff;
    overflow-x:hidden;
}

.hero{
    width:100%;
    min-height:100vh;
    position:relative;
    background:
    linear-gradient(
        rgba(0,0,0,.15),
        rgba(0,0,0,.85)
    ),
    url("./img/қайнар.png");
    background-size:100% auto;
    background-position:top center;
    background-repeat:round;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    animation:heroFade 2s ease;
    opacity: 15;
}

.hero-overlay{
    position:absolute;
    inset:0;

    background:rgba(0,0,0,.25);
}

.hero-frame{
    position:absolute;
    inset:18px;
    border:1px solid rgba(255,220,150,.8);
    border-radius:28px;
    opacity:0;
    animation:borderShow 1.5s ease forwards;
    animation-delay:.4s;
}
.hero-frame p{
    text-align: center;
    color: black
}
.hero-content{
    position:relative;
    z-index:2;
    text-align:center;
    padding:30px;
    margin-top: 150px;
}

.hero-content h1{
    font-family: "KZGoodVibes";
    font-weight: 400;
}

.hero-content h1 span{
    display:block;
    margin-top:8px;
}

.date{
    font-family:'Asylbek';
    font-size:46px;

    color:#ffe0a3;

    margin-top:25px;

    opacity:0;

    animation:dateShow 1.2s ease forwards;
    animation-delay:1.8s;
}
.music-btn{
    position:fixed;

    right:30px;
    bottom:20px;

    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    background:rgba(0,0,0,.7);

    color:#ffe0a3;

    font-size:24px;

    cursor:pointer;

    z-index:9999;

    border:1px solid rgba(255,220,150,.8);
}

.music-btn.playing{
    animation:rotateMusic 4s linear infinite;
}

@keyframes rotateMusic{
    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}
/* АНИМАЦИИ */

@keyframes heroFade{
    from{
        opacity:0;
        transform:scale(1.03);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}

@keyframes borderShow{
    from{
        opacity:0;
        transform:scale(.95);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}

@keyframes titleShow{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes dateShow{
    from{
        opacity:0;
        transform:translateY(20px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
.invite-section{
    background:#ffffff;
    
}

.invite-container{
    max-width:500px;
    margin:auto;
    text-align:center;
}

.invite-title{
    font-family:'Asylbek';
    font-size:33px;
    color:#111;
    margin-bottom:15px;
    margin-top:15px;
}

.invite-text{
    font-size:20px;
    line-height:1.3;
    color:#000000;
    margin-bottom:70px;
}

.invite-text span{
    display:block;
    color:#a98b2b;
    font-weight:100;
    margin:10px 0;
    font-family:'Finlandia';
    font-size:58px;
    line-height:1.1;
}
.event-list p{
    font-size:24px;
    color:#666;
    margin-top:2px;
    text-align: center;
}
.event-section{
    background:
    linear-gradient(rgba(255, 255, 255, 0.15),rgba(255, 255, 255, 0.45)),
    url("./img/фоон.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding:90px 20px;
    display:flex;
    justify-content:center;
    background-color: #a98b2b;
}
.event-card{

    width:100%;
    max-width:360px;

    background:rgba(255,255,255,.88);

    backdrop-filter:blur(8px);

    padding:45px 28px;

    text-align:center;

    border-radius:12px;
}
.event-card h2{
    font-family:"Asylbek";
    font-size:40px;
    color:#222;
}
.event-block{
    margin-bottom:10px;
}

.event-block h3{
    font-family:"Asylbek";
    font-size:35px;
    color:#111;
    margin-bottom:15px;
}
.event-block p{
    font-size:24px;
    color:#333;
    line-height:1.5;
}
.signature-calendar-section {
  background: #fff;
  text-align: center;
}

.signature {
  font-family: 'Asylbek';
  font-size: 42px;
  line-height: 1.1;
  color: #111;
  margin-bottom: 35px;
}
.signature p{
    text-align: center;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 18px;
}
.calendar-box {
  max-width: 330px;
  margin: 0 auto;
}

.calendar-box h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 34px;
  font-weight: 600;
  color: #4d5221;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.date-block{
    text-align:center;
    background:#fff;
    margin:0;
    padding:40px 20px 40px;
}

.date-day{
    font-size:30px;
    font-weight:700;
    line-height:1;
    color:#c8a45a;
    font-family: 'KAZ', Arial, sans-serif;
}

.date-month{
    font-family:'Asylbek';
    font-size:60px;

    color:#c8a45a;

    margin-top:5px;
}

.date-year{
    font-size:26px;
    color:#555;

    margin-top:10px;
}

.date-time{
    margin-top:15px;

    font-size:22px;
    color:#555;

    letter-spacing:2px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;

  border: 1px solid #333;
  border-radius: 30px;

  padding: 10px 12px;
  margin-bottom: 28px;

  font-size: 17px;
  color: #111;
  letter-spacing: 1px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 18px;

  font-size: 22px;
  color: #222;
}

.days span {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.active-day {
  color: #111;
  font-weight: 600;
  z-index: 1;
}

.active-day::before {
  content: "";
  position: absolute;

  width: 48px;
  height: 48px;

  border: 2px solid #c8a45a;
  border-radius: 50%;

  z-index: -1;
}
.location-section{
    background:#fff;
    text-align:center;
    padding:40px 20px 10px;
    margin:0;
    
}
.map-btn{
    display:inline-block;
    padding:15px 34px;

    border-radius:40px;
    border:1px solid #c8a45a;

    background:#c8a45a;
    color:#fff;

    font-size:18px;
    letter-spacing:1px;
    text-decoration:none;
}
.map-logo{
    margin-top:25px;
    text-align:center;
    margin-bottom: 20px;
}

.map-logo img{
    width:80px;
    height:auto;
}
.map-btn:hover{
    background:#b8933f;
}
@font-face {
    font-family: 'Champion';
    src: url('./fonts/ChampionScriptPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Finlandia';
    src: url('./fonts/ALSFinlandiaScript.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.location-title{
    font-size:37px;
    font-weight:600;
    color:#222;
    font-family: 'Finlandia';
    margin-bottom:25px;
}

.location-name{
    font-size:48px;

    color:#c8a45a;

    margin-bottom:1px;
    margin-top: 15px;
}

.location-subtitle{
    font-size:28px;
    color:#555;

    margin-bottom:25px;
}

.location-address{
    font-size:20px;
    line-height:1.1;

    color:#444;
}
.countdown-section{
    background:#fff;
    text-align:center;
    padding:50px 20px;
    margin-top: -50px;
}

.countdown-title{
    font-family: 'Kz Ariston';
    font-size:29px;
    color:#c8a45a;
    margin-bottom:30px;
}

.countdown{
    display:flex;
    justify-content:center;
    gap:5px;
    flex-wrap:inherit;
}

.time-box{
    width:80px;
    height:90px;

    border:2px solid #c8a45a;
    border-radius:15px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.time-box span{
    font-size:34px;
    font-weight:700;
    color:#c8a45a;
}

.time-box p{
    font-size:12px;
    color:#666;
    margin-top:5px;
}
.invite-message{
    width:100%;
    height:100vh;
    background-image:url("./img/фоооон.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
}

.invite-card{
    width:100%;
    max-width:390px;
    aspect-ratio:9/16;
    background-size:cover;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:120px 35px;
}

.invite-content{
    text-align:center;
}

.invite-title{

    font-family:"Asylbek";
    font-size:42px;

    color:#111;
    margin-top: 35px;
    margin-bottom:40px;
}

.invite-text{

    font-size:20px;
    line-height:1.1;

    color:#222;

    margin-bottom:21px;
}
.wish-section{
    background:#fff;
    text-align:center;
    padding:10px 10px;
}

.wish-line{
    width:180px;
    height:3px;
    background:#c8a45a;
    margin:0 auto 50px;
}

.wish-title{
    font-family:'italic';
    font-size:50px;
    font-weight:400;
    color:#c8a45a;
    margin-bottom:30px;
}

.wish-names{
    font-size:34px;
    letter-spacing:1px;
    color:#8b6d4d;
    margin-bottom:-30px;
    font-family: 'Asylbek';
    margin-top: -30px;
}

.wish-text{
    font-size:34px;
    line-height:1.8;
    letter-spacing:2px;
    color:#1a130c;
    font-family: 'Finlandia';
    font-weight: 600;
    line-height: unset;
}

.wish-section .wish-line:last-child{
    margin-top:70px;
    margin-bottom:0;
}
@media (max-width: 480px) {
  .signature {
    font-size: 48px;
  }

  .calendar-box h2 {
    font-size: 30px;
  }

  .weekdays {
    font-size: 15px;
  }

  .days {
    font-size: 20px;
  }
}
/* Телефон */

@media(max-width:480px){

    .hero-frame{
        inset:14px;
        border-radius:22px;
    }

    .hero-content h1{
        font-size:35px;
        line-height: 1;
        font-weight: 300;
        color: #f0ef61;
        margin-top: 130px;
    }
    .hero-frame p{
        font-size: 28px;
        font-family: 'Kz Ariston';
        font-weight: 600;
        margin-top: 10px;
        color: #e6d760;
    }
    .date{
        font-size:34px;
        margin-top:180px;
        color: #f0ef61;
    }
    .signature{
        font-size: 42px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 40px;
    }
    
}